version: "2"

volumes:
  db-data:
    external: false

services:
  db:
    image: postgres:9.5.12-alpine
    env_file: .env
    volumes:
      - db-data:/var/lib/postgresql/db-data
    ports:
      - "15432:5432"

  app:
    build: .
    user: loom
    env_file: .env
    stdin_open: true
    tty: true
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
