<% nav_add 'Aula', '#' %>
<% nav_add 'Clases', '#' %>
<%= nav_render %>

<%= link_to 'Nueva clase', new_lecture_path, class: 'btn btn-primary' %>
<%= link_to 'Papelera', bin_lectures_path, class: 'btn btn-outline-primary' %>
<br><br>

<% unless Course.current.attendance_event %>
  <div class="alert alert-danger">
    <p>No hay evento de asistencia generado para este curso... ¡cuidado!</p>
  </div>
<% end %>

<%= render partial: "table", locals: { lectures: @lectures } %>
