/* line 2, app/assets/stylesheets/animated-hamburguer-icon.sass */
button.lines-button {
  -webkit-appearance: none;
  background: transparent;
  border: 0 none;
  outline: 0 none;
}

/* line 20, app/assets/stylesheets/animated-hamburguer-icon.sass */
button .lines {
  background: white;
}

/* line 22, app/assets/stylesheets/animated-hamburguer-icon.sass */
button .lines:before, button .lines:after {
  background: white;
}

/* line 25, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines {
  vertical-align: middle;
  background: white;
  border-radius: 0.0833333333rem;
  display: inline-block;
  height: 0.125rem;
  transition: 0.3s;
  width: 1.25rem;
  position: relative;
}

/* line 31, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines:before, .lines:after {
  background: white;
  border-radius: 0.0833333333rem;
  display: inline-block;
  height: 0.125rem;
  transition: 0.3s;
  width: 1.25rem;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 0.0892857143rem center;
  -webkit-transform-origin: 0.0892857143rem center;
}

/* line 38, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines:before {
  top: 0.3125rem;
}

/* line 40, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines:after {
  top: -0.3125rem;
}

/* line 43, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button {
  border-radius: 0.1785714286rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.4385964912rem;
  padding-bottom: 0.625rem;
  transition: all 0.3s;
  user-select: none;
}

/* line 51, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button:hover {
  opacity: 1;
}

/* line 53, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button:active {
  background: rgba(0, 0, 0, 0.1);
  transition: 0;
}

/* line 57, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button.x.close .lines {
  background: transparent;
}

/* line 61, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  top: 0;
  width: 1.25rem;
}

/* line 67, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button.x.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}

/* line 70, app/assets/stylesheets/animated-hamburguer-icon.sass */
.lines-button.x.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
