/* line 3, app/assets/stylesheets/header.sass */
nav.navbar {
  background-color: #272324;
  font-size: 14px;
  z-index: 11;
  min-height: 51px;
}

@media (min-width: 768px) {
  /* line 3, app/assets/stylesheets/header.sass */
  nav.navbar {
    padding: 0;
  }
}

/* line 10, app/assets/stylesheets/header.sass */
nav.navbar > .container {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 10, app/assets/stylesheets/header.sass */
  nav.navbar > .container {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  /* line 10, app/assets/stylesheets/header.sass */
  nav.navbar > .container {
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  /* line 10, app/assets/stylesheets/header.sass */
  nav.navbar > .container {
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  /* line 10, app/assets/stylesheets/header.sass */
  nav.navbar > .container {
    max-width: 1600px;
  }
}

/* line 22, app/assets/stylesheets/header.sass */
nav.navbar a {
  color: white;
}

/* line 24, app/assets/stylesheets/header.sass */
nav.navbar a:hover, nav.navbar a:active, nav.navbar a:focus {
  color: #89d7c6;
}

/* line 27, app/assets/stylesheets/header.sass */
nav.navbar a.logo {
  width: 110px;
  height: 30px;
  display: inline-block;
  background: url(/assets/loom-hover.svg) no-repeat center top;
}

/* line 32, app/assets/stylesheets/header.sass */
nav.navbar a.logo:hover {
  background-position: center -30px;
}

/* line 35, app/assets/stylesheets/header.sass */
nav.navbar .dropdown-menu {
  font-size: 13px;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
}

/* line 39, app/assets/stylesheets/header.sass */
nav.navbar .dropdown-menu a {
  color: #272324;
}

/* line 42, app/assets/stylesheets/header.sass */
nav.navbar .divider:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  margin: 12px 5px;
}

/* line 46, app/assets/stylesheets/header.sass */
nav.navbar .envelope {
  background: url(/assets/icon-envelope.svg) no-repeat center center;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 20px;
}

/* line 53, app/assets/stylesheets/header.sass */
nav.navbar button.lines-button {
  display: none;
  position: absolute;
  right: 10px;
}

@media (min-width: 768px) {
  /* line 60, app/assets/stylesheets/header.sass */
  nav.navbar li.nav-item:nth-child(2), nav.navbar li.nav-item:first-child {
    padding-top: 6px;
  }
}

@media (max-width: 767px) {
  /* line 64, app/assets/stylesheets/header.sass */
  nav.navbar button.lines-button {
    display: block;
  }
}

/* line 67, app/assets/stylesheets/header.sass */
nav.navbar .avatar {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 0 none;
  display: inline-block;
  height: 35px;
  width: 35px;
}
