/* line 4, app/assets/stylesheets/teachers.sass */
.team .card {
  background: rgba(204, 177, 240, 0.2);
  border-radius: 20px;
  border: 0 none;
  margin: 0 !important;
  height: auto !important;
}

/* line 11, app/assets/stylesheets/teachers.sass */
.team .card .role {
  display: block;
  font-size: 13px;
  margin: -5px 0 15px;
  text-transform: uppercase;
}

/* line 17, app/assets/stylesheets/teachers.sass */
.team .card .card-body {
  align-items: stretch;
}

/* line 19, app/assets/stylesheets/teachers.sass */
.team .card .card-body .left {
  background-color: #ece2fb !important;
  border-radius: 20px 0 0 20px !important;
}

/* line 23, app/assets/stylesheets/teachers.sass */
.team .card .card-body .left .avatar {
  border-color: #e3dedd;
}

/* line 25, app/assets/stylesheets/teachers.sass */
.team .card .card-body .right {
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 4, app/assets/stylesheets/teachers.sass */
  .team .card {
    height: auto !important;
  }
  /* line 31, app/assets/stylesheets/teachers.sass */
  .team .card .card-body .left {
    border-radius: 20px 20px 0 0 !important;
  }
}
