/* line 2, app/assets/stylesheets/team.scss */
.team .card {
  margin: 1em;
}

/* line 4, app/assets/stylesheets/team.scss */
.team .card .card-body {
  flex-direction: row;
  display: flex;
  padding: 0;
}

/* line 8, app/assets/stylesheets/team.scss */
.team .card .card-body .left {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f8f9fa;
  border-radius: .25rem 0 0 .25rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;
  padding: 1.5em;
}

/* line 19, app/assets/stylesheets/team.scss */
.team .card .card-body .right {
  padding: 1.5em;
}

@media screen and (max-width: 1000px) {
  /* line 29, app/assets/stylesheets/team.scss */
  .team .card .card-body {
    flex-direction: column;
  }
}
