@media (max-width: 767px) {
  /* line 3, app/assets/stylesheets/welcome.sass */
  .jumbotron {
    margin-top: 20px;
  }
  /* line 7, app/assets/stylesheets/welcome.sass */
  .jumbotron a.btn {
    display: block;
    margin-bottom: 15px;
  }
}
