<legend>Estudiantes que adquirieron el emblema "<%= @badge.name %>"</legend>

<% if @students.empty? %>
  <div class="alert alert-info">
    <p>
      No hay estudiantes que hayan obtenido este emblema aún.
    </p>
  </div>

<% else %>

  <div class="students mosaic">
    <% @students.in_groups_of(6) do |group| %>

      <div class="row">

        <% group.each do |student| %>

          <div class="col-md-2 col-xs-6 student-box">
            <% if student %>
              <img class="avatar" src="<%= student.image %>">
              <p class="data"><%= student.nickname %><br/>
                <small><%= student.full_name %></small>
              </p>
            <% end %>
          </div>

        <% end %>

      </div>

    <% end %>
  </div>

<% end %>
