<style>
  .card .side {
    display: inline-block;
    border: 1px dashed black;
    float: left;
    width: 85.6mm;
    height: 53.98mm;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    position: relative;
  }
    .card .side img.avatar {
      width: 3cm;
      float: left;
    }

    .card .side .data {
      display: inline;
      padding-left: 0.5em;
    }
  .card .side .data h1 {
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  .card .side .data h1 small {
    color: darkgray;
  }
    .brand {
      background-color: black;
      color: white;
      font-size: 1em;
      font-weight: bold;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-left: -0.5em;
      padding: 0.2em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
    }

</style>
<div class="card">

  <div class="front side">
    <%= image_tag(@user.image, class: 'avatar') %>
    <div class="data">
      <h1>
        <%= @user.name %>
        <br/>
        <small><%= @user.nickname %></small>
      </h1>

      <div class="brand">
        loom
      </div>
    </div>
  </div>

  <div class="back side">

    <img src="https://chart.googleapis.com/chart?chl=http%3A%2F%2Floom.wecode.io%2Fu%2F<%= @user.nickname %>&chs=150x150&cht=qr&chld=H%7C0">

    <div class="brand">
      loom
    </div>
  </div>

</div>
