<% if policy(entity_class).manage? %>
  <div class="btn-group">
    <%= link_to({ controller: controller, action: :edit, id: entity }, { class: 'btn btn-secondary' }) do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to({ controller: controller, action: :destroy, id: entity }, { class: 'btn btn-danger', method: :delete }) do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
<% end %>

<%= yield %>
