- alert_type ||= 'info'
- dismissable ||= false
- title ||= nil
.alert.alert-dismissible.fade.show{role: "alert", class: "alert-#{alert_type}"}
  - if title
    %p
      %strong
        = title
  %p
    != message
  - if dismissable
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
