<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% nav[0..-2].each do |n| %>
      <li class="breadcrumb-item"><%= link_to n[:title], n[:url] %></li>
    <% end %>
    <li class="breadcrumb-item active"><%= nav[-1][:title] %></li>
  </ol>
</nav>
