<div class="jumbotron">
  <audio id="loom-audio" src="http://dictionary.cambridge.org/media/english/uk_pron/u/ukl/uklon/uklonel023.mp3"></audio>

  <h1>¡Bienvenido a Loom!</h1>

  <blockquote>
    <span class="pronunciation" onclick="document.getElementById('loom-audio').play()">
    <strong>loom</strong> <em>/luːm/</em>
    </span>
    : telar. Se denomina telar al dispositivo que se utiliza para tejer.
  </blockquote>

  <p><strong>Loom</strong> es una plataforma evolutiva que te acompañará
    durante la cursada. ¡Estate atento a los cambios semanales!</p>

  <% if current_user %>

    <p>Cursos de los que sos parte:</p>
    <ul>
      <% current_user.courses.each{ |course| %>
        <li><%= course.name %></li>
      <% } %>
    </ul>

    <p>También podés anotarte en los siguientes cursos:</p>
    <ul>
      <% Course.where("id not in (?)", (current_user.courses.ids << -1)).each{ |course| %>
        <li><%= course.name %></li>
      <% } %>
    </ul>


  <% else %>
    <p>
      <%= link_to 'Ingresar con GitHub', '/auth/github', class: 'btn btn-lg btn-success' %>
      <%= link_to 'Ingresar con Google', '/auth/google_oauth2', class: 'btn btn-lg btn-success' %>
    </p>
  <% end %>
</div>
