  <% if source_code%>
    <div class="highlight">
      <div class="well">
        <%= raw rouge(wording, language) %>
      </div>
    </div>
  <% else %>
    <div class="well">
      <%= raw wording %>
    </div>
  <% end %>
  