/*
*= require codemirror/lib/codemirror
*= require multiple_choices
*= require_self
*/

.trix-content {
  max-height: 500px;
  min-height: 250px;
  overflow-y: auto;
}

.btn-suggestions {
  bottom: 7em;
  position: fixed;
  right: 0;
  transform: rotate(-90deg);
}

.profile {
    width: 10em;
    position: relative;
}

img.avatar {
    border-radius: 50%;
    width: 100%;
    border: 2px solid darkslategray;
}

.avatar.disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
}

img.team {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    border: 2px solid darkslategray;
    background: white;
}

#wording pre {
    background-color: #e9ecef;
    padding: 1em;
    border-radius: 5px;
}

.sidebar .nav-item.active {
    background-color: #e9ecef;
}

.teachers .card {
    margin: 1em;
}
.teachers .card .card-body {
    flex-direction: row;
    display: flex;
    padding: 0;
}
.teachers .card .card-body .left {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f8f9fa;
    border-radius: .25rem 0 0 .25rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;
}

@media screen and (max-width: 1000px) {
    .teachers .card .card-body {
        flex-direction: column;
    }
}

.teachers .card .card-body .left,
.teachers .card .card-body .right {
    padding: 1.5em;
}

.avatar.teacher {
    max-width: 150px;
}

.card.faq {
    margin-bottom: 1em;
}

.label {
    padding: 0.4em;
}

.label.do-search {
    cursor: pointer;
}