/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require c3/c3
 *= require messenger/build/css/messenger
 *= require messenger/build/css/messenger-theme-air
 *= require bootstrap-tour/build/css/bootstrap-tour
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Open Sans', sans-serif;
}

.loom-logo {
    display: inline-block !important;
    margin: 0 0.5em !important;
}

.clickable {
    cursor: pointer;
}

.golden-badge {
    background-color: goldenrod;
}

.red-badge {
    background-color: #d43f3a;
}

.trix-content{
    height: 200px;
    overflow-y: auto;
}