/*
*= require new_design

*= require header
*= require tabs
*= require pagination
*= require buttons

*= require profile
*= require teachers


*= require avatars
*= require badges
*= require codemirror/lib/codemirror
*= require footer
*= require menu
*= require multiple_choices
*= require pages
*= require tables
*= require team
*= require_self
*/

.btn-suggestions {
  bottom: 7em;
  position: fixed;
  right: 0;
  transform: rotate(-90deg);
}

.navbar .navbar-right {
  margin-left: auto;
}

.clickable {
  cursor: pointer;
}
