// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron .pronunciation {
  border-bottom: 1px dotted #000;
  cursor: help;
}
