@import colors.sass

.profile
  background: #3d393a
  border-radius: 18px
  color: white
  font-size: 15px
  padding: 30px
  display: flex
  justify-content: space-between

  h1
    text-align: center
    text-transform: uppercase
    font-size: 18px
    font-weight: 500
    background: $black
    padding: 20px
    display: inline-block

  .avatar-and-team
    .avatar
      border: 3px solid #b9ada9

  .badges
    ul
      display: flex
      li
        text-align: center
        img
          max-width: 100%
          height: auto
          margin-bottom: 20px