@import colors.sass


.pieContainer
  height: 198px
  width: 198px
  position: relative
  background: $gray_light
  border-radius: 50%

  .avatar-and-team
    position: absolute
    left: 24px
    top: 24px
    z-index: 2

  .hold
    position: absolute
    width: 198px
    height: 198px
    border-radius: 100%
    clip: rect(0px, 198px, 198px, 99px)
    transform: rotate(180deg)
    .pieSlice
      position: absolute
      width: 198px
      height: 198px
      border-radius: 100%
      clip: rect(0px, 99px, 198px, 0px)
      background: $violet


.profile
  background: $gray_dark
  border-radius: 18px
  color: white
  font-size: 12px
  padding: 50px 30px 30px
  display: flex
  justify-content: space-between
  align-items: center  
    

  .avatar-and-team
    max-height: 100%
    .avatar
      background: $gray_dark
      border: 3px solid $gray_light
      &.team
        border-width: 2px
        right: -20px
        width: 56px
        height: 56px

  .xp
    font-size: 16px
    margin-top: 8px
    text-align: center

  .badges
    flex: 2
    ul
      display: flex
      list-style: none
      align-items: flex-start
      padding: 0
      margin: 0 0 0 25px
      @media (max-width: 1024px)
        flex-wrap: wrap

      li
        text-align: center
        margin-top: 15px
        margin-bottom: 15px
        &:not(:last-child)
          margin-right: 20px
        img
          max-width: 100%
          height: auto

        h3
          font-size: 12px
          font-weight: 400
          margin-top: 20px


ul.chartReferences
  list-style: none
  font-size: 12px
  li
    margin-bottom: 10px
  span
    display: inline-block
    vertical-align: middle
  .sample    
    width: 20px
    height: 20px
    margin-right: 6px







