@import colors.sass

.team
  .card
    background: rgba($violet, 0.2)
    border-radius: 20px
    border: 0 none
    .card-body
      .left
        background-color: #ece2fb !important
        border-radius: 20px 0 0 20px !important

        .avatar
          border-color: $gray_light
      .right
        font-size: 14px