// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  .panel {
    position: relative;
  }

  .panel > .panel-heading::after,
  .panel > .panel-heading::before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
  }

  .panel > .panel-heading::after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }

  .panel > .panel-heading::before {
    border-right-color: #ddd;
    border-width: 8px;
  }
}

.student.dashboard {
  .box {
    height: 1.5em;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    position: relative;
    font-size: 3em;
    vertical-align: middle;
    .number {
      color: #4cae4c;
      display: inline;
      text-align: center;
    }
    label {
      display: inline;
      position: absolute;
      background-color: #4cae4c;
      color: white;
      right: 0;
      height: 100%;
      padding: 0 0.5em;
    }
  }
  .team.avatar {
    float: right;
    border-radius: 50%;
    border: 2px solid black;
  }
}

.members {
  .avatar {
    width: 100px;
    height: 100px;
  }
  .clickable {
    cursor: pointer;
  }
}

.fb-profile .fb-image-lg {
  background: linear-gradient(to bottom, #fc354c 0%, #0abfbc 100%);
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
  height: 180px;
}

.fb-image-profile {
  margin: -90px 10px 0 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0 25px;
    z-index: 9;
    width: 20%;
  }
}

.badge-box {
  text-align: center;
}

.avatar.disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}

.attendance {
  .box {
    .data {
      height: 5em;
    }
    img.avatar {
      width: 100%;
      height: auto;
    }
  }
}

.panel .panel-heading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.c3-gauge-value {
  font-weight: bold;
}

#massive-actions button {
  display: block !important;
  margin: 0.5em 0;
}

#actions.modal .modal-dialog {
  width: 60%;
}
