// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
  height: 180px;
}

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
