<% nav_add 'Cuestionarios de Opción Múltiple', '#' %>
<%= nav_render4 %>

<% if policy(MultipleChoices::Questionnaire).manage? %>
  <%= link_to 'Nuevo cuestionario', new_multiple_choices_questionnaire_path, class: 'btn btn-primary' %>
<% end %>

<br><br>

<h2>Cuestionarios publicados</h2>

<%= render partial: 'table', locals: { questionnaires: @questionnaires } %>

<br>
<hr>

<h2>Borradores</h2>

<%= render partial: 'table', locals: { questionnaires: @drafts } %>
