<% if current_user.teacher? %>
  <% nav_add 'Ejercicios', exercises_path %>
<% else %>
  <% nav_add 'Ejercicios', '#' %>
<% end %>
<% nav_add @exercise.name, '#' %>
<%= nav_render %>

<div class="exercise-wording">
  <%== @exercise.notes %>
</div>
