<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <% @menu.present.each do |menu| %>
      <%= render partial:'layouts/menu2', locals: { menu: menu } %>
    <% end %>
  </ul>
</div>
