%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag "logo.svg", { width: 25, height: 25, alt: 'Loom', title: 'Loom', class: 'navbar-brand loom-logo'}
      loom
    %button.navbar-toggler{"aria-controls": "navbarNavDropdown", "aria-expanded": false, "aria-label": "Cambiar navegación", "data-bs-target": "#navbarNavDropdown", "data-bs-toggle": "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      .navbar-right
        %ul.navbar-nav.d-md-none
          = render partial: '/layouts/menub', locals: { menu: submenu }
        %ul.navbar-nav
          = render partial: '/layouts/menub', locals: { menu: menu }
