%nav.navbar.navbar-expand-md.fixed-top
  .container
    = link_to root_path, class: 'logo' do
      = image_tag "loom.svg", { width: 110, height: 30, alt: 'Loom', title: 'Loom'}
    %button.navbar-toggler{"aria-controls": "navbarNavDropdown", "aria-expanded": false, "aria-label": "Cambiar navegación", "data-bs-target": "#navbarNavDropdown", "data-bs-toggle": "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      .navbar-right
        %ul.navbar-nav.d-md-none
          = render partial: '/layouts/menub', locals: { menu: submenu }
        %ul.navbar-nav
          = render partial: '/layouts/menub', locals: { menu: menu }
